doctype html

html
    head
        link(rel="stylesheet", href="styles/styles.css")
    body
        .container
            canvas#canvas
            h1 conway's 
            h2 game of life 
            button#playBtn.box PLAY
            .info 
                h3 Created by 
                            a(href="www.hackertronix.com") Prateek Phoenix
            
    script(src="src/app.js")    