doctype html

html
    head
        link(rel="stylesheet", href="styles/styles.css")
    body
        .container
            canvas#canvas
            h1 conway's 
            h2 game of life 
            
    script(src="src/app.js")    